{% load static %}
<nav class="navbar navbar-expand-lg  bg-dark border-body" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.jpg' %}" alt="logo" width="35" height="35" class="d-inline-block align-text-center" style="border-radius: 50%; margin-right: 5px;">
      <strong>FD<span class="text-danger">SV</span></strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
       
        <ul class="navbar-nav ms-auto">
          {% comment %} <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Models</a>
          </li> {% endcomment %}
        
        </ul>
      </div>
    </div>
</nav>